body {
    margin:0;
    padding: 0;
}

.divv{
    width:117px;
    height:123px;
    background: #777777;
    position: fixed;
    left: 40%;
    top:20%;
    transition: 0.5s;
}
/*******************Затемнение**************/
.overlay{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.65);
    z-index: 10;
    position: fixed;
    cursor: default;
    display: none;
}

.overlay:target{
    display: block;
}

.overlay:target+.divv{
    top:40%;
}
